* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.titulo {
  display: flex;
  position: fixed;
  left: 110px;
  text-decoration: none;
}  

.titulo a {
  color: white;
  text-decoration: none;
}

.logo img {
  max-height:100px;
}

.boton {
padding: 5px;
margin-left: 10px;
}

.boton:hover {
background-color: #3A01DF;
border: none;
}


.footer-principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}


.copyright {
  color: white;
}

.linkacerca {
  color: white;
  text-decoration: none;
margin: 15px;
}

.linkcontacto {
color: white;
text-decoration: none;
}

 .linkacerca:hover {
  background-color: #3A01DF;

 }

 .linkcontacto:hover {
  background-color: #3A01DF;
 }

 .linkface {
  color: white;
  margin-left: 15px;
  text-decoration: none;

 }
 .linktwitter {
  color: white;
  margin-left: 15px;
  text-decoration: none;
 }
 .linkinstagram {
  color: white;
  margin-left: 15px;
  margin-right: 30px;
  text-decoration: none;
 }

 .linkface:hover {
  background-color:#3A01DF;
 }

 .linktwitter:hover {
  background-color: #3A01DF;
 }

 .linkinstagram:hover {
  background-color:#3A01DF;
 }



#bodySign {
  background: #141414;
  background-image: url(/img/popcornBackground.jpg
  );
  background-size: cover;
  background-repeat: no-repeat;
}

#divBodySign {
  width: 1000px;
  justify-content: center;
  background: linear-gradient(to right, #300404, #a12203);
}

#logoSignIn {
  position: relative;
  left: 65px;
  margin-top: 65px;
  height: 250px;
  width: 250px;
}

#signDiv {
  border: solid;
  border-color: #69656527;
  box-shadow: 
      4px 1px 4px 5px rgba(32, 32, 32, 0.144),
      4px 1px 4px 4px #3801df5b;
  border-radius: 15px;
  background: #ffff;
  margin: 30px 0 20px 0;
}

#warnings {
  width: 300px;
  text-align: center;
  margin: auto;
  color: #2c069e;
  padding: 15px;
}



#bodyUs {
  background: #141414;
}

#mainSection {
  margin-bottom: -140px;
}

#mainDiv {
  position: relative;
  top: -80px;
  background: #ffffff;
}

#titleUs {
  text-align: center;
}

#indestructiblesImg {
  position: relative;
  left: 4rem;
  width: 900px;
  height: auto;
  margin-top: 90px;
}

#imgLogoUs {
  position: relative;
  left: 40%;
  width: 20%;
  height: 20%;
}

#imgUs {
  width: auto;
  z-index: 10;
}

#carouselPhoto{
position: relative;
left: 18%;
}

#carouselUs {
  position: relative;
  max-width: 100%;
  height: auto;
  background-color: #1a1414;
  background-image: linear-gradient(62deg, #1a1414 0%, #a70918 100%);
}


@media(min-width: 1200px) and (max-width: 1399px){
#carouselPhoto{
  position: relative;
  left: 23%;
}
}

@media(min-width: 1400px) and (max-width: 2300px){
#carouselPhoto{
  position: relative;
  left: 27%;
}
}

@media(min-width: 800px) and (max-width: 991px){
#carouselPhoto{
  position: relative;
  left: 7.5%;
}
}

@media(min-width: 768px) and (max-width: 799px){
#carouselPhoto{
  position: relative;
  left: 7.5%;
}
}

@media(min-width: 200px) and (max-width: 767px){
#carouselPhoto{
  position: relative;
  left: 0%;
}
}

@media(min-width: 200px) and (max-width: 700px){
#carouselPhoto{
  justify-content: center;
  align-items: center;
}
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  padding: 35px;
}

.navcss  {
  background-color: black;
  padding: 20px;
}

.botonnav { 
  background-color: aliceblue;
  margin: 10px;
}

.botonnav:hover {
  color: white;
  background-color: #3A01DF;
}
.navbar-title h3 {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

.navbar-brand img {
  width: 50px;
}